$pink--general: #F5CDCE;
$pink--light: #F7E2E1;
$pink--deep: #E97A80;
$pink--deep-light-dop: #EFA4A7;
$pink--deep-light: #F8B9BC;

$beige: #D68989;

$blue: #0D3F7C;
$blue--hover: #3d79c1;

//Breakpoints
$xs: 480px;
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;
$xxxl: 1800px;