* {
	padding: 0;
	margin: 0;

	font-family: 'Playfair Display', serif;
	color: $blue;

	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	transition: .2s color;

	&:hover {
		color: $blue--hover;
	}
}

img {
	//user-select: none;
}

.wrapper {
	padding: 128px 100px 100px 100px;
}