* {
	padding: 0;
	margin: 0;

	font-family: 'Playfair Display', serif;
	color: $blue;

	box-sizing: border-box;
}

html, body {
	overflow-x: hidden;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
	transition: .2s color;

	&:hover {
		color: $blue--hover;
	}
}

img {
	//user-select: none;
}

.wrapper {
	padding: 128px 100px 100px 100px;

	@media (max-width: $xxl) {
		padding: 128px 30px 30px 30px;
	}

	@media (max-width: $xl) {
		padding: 88px 30px 30px 30px;
	}

	@media (max-width: $md) {
		padding: 76px 16px 16px 16px;
	}
}